<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spider</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/app.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/front.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    


     

     

</head>
<body>
    <div class = 'ui fixed inverted menu'>
        <div class = 'ui container'> 
            <div class = 'header item'><i class="reddit icon"></i>Reddit</div>  
        </div>
        <a href ="/" class="item">Home</a>
        <a href ="/blogs/new" class="item">New Post</a>
       

                <% if(!currentUser){ %>  
                    <li><a href="/login" class="item">Login</a></li>
                   <li><a href="/register" class="item">Register</a></li>
                  <% } else { %> 
                    <li><a href="#">signed In As <%= currentUser.username %></a></li>
                    <li><a href="/logout" class="item">Logout</a></li> 
                   <% } %>
            
    
    
    </div>
    
    
